@use "theme";

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-VariableFont_wght.ttf");
}

body {
  font: 100% theme.$font-stack;
  color: theme.$dark;
  background-color: theme.$light;
  border-color: theme.$link;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: theme.$link;
}

* {
  box-sizing: border-box;
}
