@use "theme";

body {
  font: 100% theme.$font-stack;
  color: theme.$dark;
  background-color: theme.$light;
  border-color: theme.$link;
  margin: 0;
  padding: 0;
}

a {
  color: theme.$link;
}

* {
  box-sizing: border-box;
}