@use "../styles/theme" as theme;

.page.discography {

  .artist {

  }

  .album {
    border: 1px solid black;
    height: 11in;
    width: 8.5in;
    padding: 0.5in;
    background-color: white;
  }

}