@use "../styles/theme";

.page.index {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 300%;
    text-align: center;
    margin-top: 0;
  }

  .intro {
    display: grid;

    grid-template-columns: 100%;
    @media (min-width: 512px) {
      grid-template-columns: 128px auto;
    }

    gap: 16px;

    img {
      height: 128px;
      width: 128px;
      border-radius: 100%;
      margin: auto;
    }

    p {
      max-width: 512px;
      font-size: 120%;
      padding: 16px;
    }
  }

  .align {
    display: flex;
    flex-direction: column;

    .btn {
      padding: 8px 12px;
      margin-left: auto;
      font-size: 110%;
      font-weight: bold;

      svg {
        fill: white;
        height: 12px;
        width: 12px;
        margin-left: 12px;
      }
    }
  }

  .icon-list {
    display: flex;
    align-items: center;
    justify-content: center;

    svg,
    svg * {
      fill: theme.$link;
    }
  }

  section {
    padding: 0 16px;
    margin-top: 20px;
    border-top: 1px solid #ccc;
  }
}
