@use "../styles/theme"as theme;

.page.index {

  h1 {
    font-size: 140%;

    @media (min-width: 512px) {
      font-size: 300%;
    }

    text-align: center;
  }

  .intro {
    margin: auto;
    max-width: 768px;
    display: grid;

    grid-template-columns: 100%;

    @media (min-width: 512px) {
      grid-template-columns: 128px auto;
    }

    gap: 16px;

    img {
      height: 128px;
      width: 128px;
      border-radius: 100%;
      margin: auto;
    }

    p {
      font-size: 100%;

      @media (min-width: 512px) {
        font-size: 120%;
      }
    }
  }

  .align {
    display: flex;
    flex-direction: column;

    .btn {
      padding: 4px 8px;
      margin-left: auto;

      background-color: transparent;
      color: theme.$link;

      &:hover {
        color: white;
        svg {
          fill: white;
        }
        background-color: theme.$link;
      }

      border: 1px solid theme.$link;

      @media (min-width: 512px) {
        padding: 8px 12px;
      }

      svg {
        fill: theme.$link;
        height: 12px;
        width: 12px;
        margin-left: 12px;
      }
    }
  }
}