.page.resume {
  padding: 64px 16px;

  section {
    margin-bottom: 16px;
    ul {
      padding-left: 0;
      @media (min-width: 512px) {
        padding-left: 16px;
      }
      li {
        list-style-type: square;
        margin: 4px 0 4px 16px;
        padding: 0;
      }
    }
  }

  h2 {
    padding: 0 0 4px 0;
    border-bottom: 1px solid #555;
    margin: 0 0 8px 0;
  }

  .skills {
    @media (min-width: 512px) {
      text-align: center;
    }
    li {
      list-style-type: none;
    }

    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 512px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }

    h3 {
      margin: 8px 0 4px;
    }
  }

  .resume-subheader {
    h3,
    h4 {
      margin: 0;

      display: flex;
      flex-direction: column;
      @media (min-width: 512px) {
        flex-direction: row;
        padding-left: 16px;
        align-items: flex-end;
        justify-content: space-between;
      }
    }

    h4 {
      margin-top: 4px;
      margin-left: 8px;
    }

    .location,
    .date {
      color: #555;
      font-weight: normal;
      font-size: 90%;
    }
  }
}
