@use "../../styles/theme";

.icon-list {
    
    display: flex;
    gap: 8px;
    padding: 0;
    
    li {
        list-style-type: none;
        a {
            height: 48px;
            width: 48px;
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 8px;

            &:hover {
                background: rgba(0, 0, 0, 0.1);
            }

            svg {
                height: 32px;
            }

            svg,
            svg * {
                fill: white;
            }
        }
    }
}
